.app__header {
  background-color: var(--color-black);
  display: flex;
}

.app__wrapper_info {
  flex: 1;
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}

.app__wrapper_img img {
  width: 80%;
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 60px;
    line-height: 80px;
  }
}

@media screen and (max-width: 650px) {
  .app__header {
    flex-direction: column;
    gap: 4rem;
  }

  .app__wrapper_img {
    margin-left: 0;
  }
}


